body {
  background-color: beige;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 500px;
  height: auto;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* align-items: center; */
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* nav li {
} */

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* width: 800px; */
  border: 10px solid firebrick;
}

article {
  flex-basis: 100%;
}

footer {
  display: flex;
}

footer div {
  margin-top: 18%;
}

div img {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 30px;
  padding-top: 0.5rem;
}

#copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9rem;
}
