* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #cc99ff 0%, #66ff99 100%);
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

body {
  background-color: #f3f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 3rem 5% 3rem 5%;
}

.primary-navigation ul {
  gap: 20px;
  list-style: none;
  text-align: center;
  margin: 25px;
  padding: 0;
}

.primary-navigation a {
  color: #14510b;
  font-weight: bold;
  text-decoration: none;
}

nav li {
  display: inline-block;
  width: 200px;
  height: auto;
  font-size: 1.5rem;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
  color: #c766e7;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  flex: 1 0 25%;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 10px 18px #9a2bd6;
}

article:first-child {
  flex: 0 1 100%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 1.1;
  margin: 20px;
  color: #14510b;

  @media (width > 700px) {
    font-size: 6rem;
  }
}

h1:hover,
h1:focus-visible {
  color: #9a2bd6;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: #14510b;

  @media (width > 700px) {
    font-size: 4rem;
  }
}

footer img {
  display: block;
  width: 350px;
  height: auto;
}
footer {
  display: flex;
  width: 100%;
}

.foot {
  flex: 1;
  width: 100%;
  height: auto;
  text-align: center;
  color: #000;
  padding: 20px;
}

.foot:first-child {
  padding-top: 50px;
  border-right: none;

}

.foot:last-child {
  border-left: none;
  padding-top: 40px;
}