* {
  box-sizing: border-box;
}

/* header {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 20px;
} */

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

body {
  background-color: #f3f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 3rem 5% 3rem 5%;
  /* margin: 20px 100px 30px 100px; */
}

.primary-navigation ul {
  gap: 20px;
  list-style: none;
  text-align: center;
  margin: 25px;
  padding: 0;
}

.primary-navigation a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

nav li {
  display: inline-block;
  width: 200px;
  height: auto;
  font-size: 1.5rem;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
  color: #c766e7;
}

/* .wrapper {
  max-inline-size: 1000px;
  margin-inline: auto;
} */

/* img {
  display: block;
  max-inline-size: 100%;
} */

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  flex: 1 0 25%;
}

article:first-child {
  flex: 0 1 100%;
}

h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 1.1;

  @media (width > 700px) {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3rem;
  color: #cb721c;

  @media (width > 700px) {
    font-size: 4rem;
  }
}

footer img {
  display: block;
  width: 350px;
  height: auto;
}
footer {
  display: flex;
  width: 100%;
}

.orange-bg {
  flex: 1;
  width: 100%;
  height: auto;
  text-align: center;
  color: #000;
  padding: 20px;
}

.orange-bg:first-child {
  padding-top: 40px;
  border-right: none;

}

.orange-bg:last-child {
  border-left: none;
}