* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #cc99ff 0%, #66ff99 100%);
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
}

body {
  background-color: #f3f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 3rem 5% 3rem 5%;
}

.primary-navigation ul {
  font-size: 1.5rem;
  gap: 20px;
  list-style: none;
  text-align: center;
  margin: 25px;
  padding-inline-start: 0rem;
}

.primary-navigation a {
  color: #14510b;
  font-weight: bold;
  text-decoration: none;
}

nav li {
  display: inline-block;
  width: 200px;
  height: auto;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
  color: #c766e7;
}

section {
  display: flex;
  gap: 2rem 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  flex: 1 0 25%;
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 10px 18px #9a2bd6;
  border-radius: 1rem;
}

article:first-child {
  flex: 0 1 100%;
}

.promo {
  background-image: url(assets/fine_jewlery.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 1.1;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #a5d99d;

  @media (width > 700px) {
    font-size: 6rem;
  }
}

.promo p {
  color: #c0c0c0;
}

p {
  text-align: center;
}

h1:hover,
h1:focus-visible {
  color: #9a2bd6;
}

.watches  {
  background-image: url(assets/watches.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.watches p {
  color: #fff;
}

.watches h2 {
  color: #820b89;
}

.necklaces {
  background-image: url(assets/necklaces.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bracelets {
  background-image: url(assets/bracelets.png);
  background-size: cover;
  background-repeat: no-repeat;
}

h2 {
  font-size: 3rem;
  text-align: center;
  color: #000;
  margin: 0;

  @media (width > 700px) {
    font-size: 4rem;
  }
}

footer img {
  display: block;
  width: 75%;
  height: auto;
}

footer {
  display: flex;
  margin: 1rem;
  gap: 2rem 1rem;
}

.foot {
  flex: 1;
  height: auto;
  text-align: center;
  color: #000;
}

.foot:first-child {
  padding-top: 50px;
  border-right: none;
  max-width: 50%;
}

.foot:last-child {
  padding-top: 10px;
  margin-top: 25px;
  border-top: #333333;
  border-style: solid;
  border-width: .1rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: right;
}